[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Lime GNU/Linux Welcome
Name[tr]=Lime GNU/Linux'a Hoşgeldiniz
GenericName=Lime GNU/Linux Welcome
GenericName[tr]=Lime GNU/Linux'a Hoşgeldiniz
Exec=limelinux-welcome
Icon=limelinux-welcome
Terminal=false
Categories=Application;Utility;
StartupNotify=true
